.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}

.info {
  display: inline-flex;
}

.inline{
  display: inline-flex;
  justify-content: space-around;
}

.buttons {
  display: inline-flex;
  justify-content: space-around;
}
