.form-container {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.loginForm img {
  height: 50%;
  width: 75%;
  align-self: center;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}
